<div class="page-header">
  <h1>Exibir Associação de Regra</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Regra Hotmart:</strong></dt>
  <dd><%= @activation_rule.name %></dd>
  <dt><strong>Regras Mailchimp:</strong></dt>
  <% @activation_rule.mailchimp_actuation_rules.each do |mc_rule| %>
    <dd><%= mc_rule.name %></dd>
    <dt></dt>
  <% end %>
<dl>

<%= link_to 'Voltar',
              rule_associations_path, :class => 'btn btn-default'  %>
<%# link_to t('.edit', :default => t("helpers.links.edit")),
              edit_rule_association_path(@activation_rule), :class => 'btn btn-default' %>
<%= link_to 'Excluir',
              rule_association_path(@activation_rule),
              :method => 'delete',
              :data => { :confirm => 'Tem certeza?' },
              :class => 'btn btn-danger' %>
