<%= simple_form_for @api_key, :html => { :class => "form-inline" },
  wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  } do |f| %>

  <div class="col-sm-6" id="key">
    <%= f.input :key, :input_html => { :size => 43 } %>
    <%= fa_icon('check-circle 3x', class: 'icon-green', id: 'validated') if @api_key.validated? %>
    <%= f.submit nil, :class => 'btn btn-primary', value: 'Update' %>
  </div>
<% end %>