<%= simple_form_for @api_key, as: api, url: :edit_api_key, :html => { :class => "form-vertical" },
  wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  } do |f| %>

  <div class="col-sm-5">
    <%= f.input :key %> <%= fa_icon('check-circle 3x', class: 'icon-green') %>
    <%= f.submit nil, :class => 'btn btn-primary', value: 'Update' %>
  </div>
<% end %>