<p>Olá <%= @resource.email %>!</p>

<p>Conforme solicitado, segue abaixo o <i>link</i> para a alteração de sua senha.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso você não tenha feito a solicitação, por favor desconsidere esse e-mail.</p>
<p>Sua senha não será alterada a não ser que você acesse o <i>link</i> acima e faça a alteração.</p>
